@charset "UTF-8";

/* Login */
.card-custom {
    height: 300px;
    width: 100%; 
}

.card-custom .card-block li {
    list-style: none;
    font-size: 0.8em;
}

.card-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

/* Menu */
nav.navbar > div#navbarNav > span.nav-item > a.nav-link {
    color: #FFF;
} 